{{!--

If the user is logged in, and 'GET /protected' endpoint is called, you will render this view that displays:
-Username (which you stored in the session when they logged in) for the currently logged in user
-The current date/time

Also, you will need to have a hyperlink at the bottom of the page to /logout.

--}}
<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/posts/new">New Post</a>
  <a href="/posts">All Posts</a>

  <div class="User">
    {{user}}
  </div>
</div>

<h1>Welcome to Stevens Study Spots</h1>

<p>{{user}}</p>
<p>Can't find study spots on campus? Use Stevens Study Spots to
   find new and exciting places to study or add
   posts with  hiddem gems you found on campus!</p>
<p>{{date}}</p>

<a href="/posts/new">Click to add a new post</a>
<br>

<a href="/logout">Logout here!</a>
