{{!-- 

This view will be shown when the 'GET /logout' endpoint is called and will:
-Inform the user that they have been logged out
-Provide a URL hyperlink to the / route

 --}}
 <p> You have been logged out</p>

 <a href="/">Log in </a>