
<h1>{{title}}</h1>
<p>{{error}}</p>
<form action="/posts/new" method="POST" id="newpost-form">
      <label for="buildingInput">Building</label>
      <select name="buildingInput" id="buildingInput">
        <option value="Babbio">Babbio</option>
        <option value="Edwin">Edwin A. Stevens Hall</option>
        <option value="Library">S.C. Williams Library</option>
        <option value="GatewayNorth">Gateway North</option>
        <option value="GatewaySouth">Gateway South</option>
        <option value="Carnegie">Carnegie</option>
        <option value="Burchard">Burchard</option>
        <option value="McLean">McLean Hall</option>
        <option value="UCC">University Center</option>
        <option value="Morton">Morton</option>
        <option value="Pierce">Pierce</option>
        <option value="Kidde">Kidde</option>
        <option value="ABS">ABS</option>
        <option value="Howe">Howe</option>
      </select>
    <br>

    <label for="titleInput">Title</label>
    <input id="titleInput" type="text" name="titleInput"/>
    <br>

    <label for="floorInput">Floor</label>
    <input id="floorInput" type="text" name="floorInput"/>
    <br>

    <label for="descInput">Description</label>
    <input id="descInput" type="text" name="descInput"  />
    <br>

    <label for="noiseInput">Noise Rating</label>
    <input id="noiseInput" type="text" name="noiseInput"  />
    {{!-- <input type="range" id = "noiseInput" min="0" max="5" step="1" /> --}}
    <br>

    <label for="locationInput">Location Rating</label>
    <input id="locationInput" type="text" name="locationInput"  />
    {{!-- <input type="range" id = "locationInput" min="0" max="5" step="1" /> --}}
    <br>

    <label for="nycInput">View of New York City Rating</label>
    <input id="nycInput" type="text" name="nycInput"  />
    {{!-- <input type="range" id = "nycInput" min="0" max="5" step="1" /> --}}
    <br>

    <label for="capacityInput">Student Capacity</label>
    <input id="capacityInput" type="text" name="capacityInput"/>
    {{!-- <input type="range" id = "nycInput" min="1" max="20" step="1" /> --}}
    <br>

    <label for="photoInput">Insert photo here</label>
    <input id="photoInput" type="text" name="photoInput" />
    <br>

    <label for="foodInput">Food Nearby</label>
      <select name="foodInput" id="foodInput">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    <br>
    
    <button type="submit">Upload</button>
</form>
