
<form action="/new" method="POST" id="newpost-form">
      <label for="buildingInput">Building</label>
      <select name="buildingInput" id="buildingInput">
        <option value="Babbio">Babbio</option>
        <option value="Edwin">Edwin A. Stevens Hall</option>
        <option value="Library">S.C. Williams Library</option>
        <option value="GatewayNorth">Gateway North</option>
        <option value="GatewaySouth">Gateway South</option>
        <option value="Carnegie">Carnegie</option>
        <option value="Burchard">Burchard</option>
        <option value="McLean">McLean Hall</option>
        <option value="UCC">University Center</option>
        <option value="Morton">Morton</option>
        <option value="Pierce">Pierce</option>
        <option value="Kidde">Kidde</option>
        <option value="ABS">ABS</option>
        <option value="Howe">Howe</option>
      </select>

    <label for="floorInput">Floor</label>
    <input id="floorInput" type="text" name="floorInput"/>
    
    <label for="descInput">Description</label>
    <input id="descInput" type="text" name="descInput"  />

    <label for="noiseInput">Noise Rating</label>
    <input id="noiseInput" type="text" name="noiseInput"  />
    
    <label for="locationInput">Location Rating</label>
    <input id="locationInput" type="text" name="locationInput"  />

    <label for="capacityInput">Student Capacity</label>
    <input id="capacityInput" type="text" name="capacityInput"/>

    <label for="nycInput">View of New York City Rating</label>
    <input id="nycInput" type="text" name="nycInput"  />

    <label for="foodInput">Food Nearby</label>
      <select name="foodInput" id="foodInput">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

    <button type="submit">Upload</button>
</form>
