
<form action="/register" method="POST" id="registration-form">
      <label for="buildingInput">Building</label>
      <select name="buildingInput" id="buildingInput">
        <option value="Babbio">Babbio</option>
      </select>
      <label for="floorInput">Floor</label>
      <select name="floorInput" id="floorInput">
      <option value="1">1</option> <!--Duplicate This Line for Different Floors-->
      </select>

    <label for="descInput">Description</label>
    <input id="descInput" type="text" name="descInput"  />

    <label for="noiseInput">Noise Rating</label>
    <input id="noiseInput" type="text" name="noiseInput"  />
    
    <label for="locationInput">Location Rating</label>
    <input id="locationInput" type="text" name="locationInput"  />

    <label for="capacityInput">Student Capacity</label>
    <input id="capacityInput" type="text" name="capacityInput"  />

    <label for="nycInput">View of New York City</label>
    <input id="nycInput" type="text" name="nycInput"  />

    <label for="foodInput">Food Nearby</label>
    <input id="foodInput" type="text" name="foodInput"  />


    <button type="submit">Sign in</button>
</form>
