p.mainhead {
    font-size: 2rem;
    color: rgb(42, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;

}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.fitPhoto {
    height: 300px;
    width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p.eachPost {
    text-align: left;
    margin: 0;
}

h3 {
    color: rgb(64, 64, 83);
}

div.divBorder {
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


p {
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
}

body {
    margin-top: 50px;
    background-image: url("/images/stevens.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
}

main {
    max-width: 75%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    bottom: 0;
}

header {
    border-style: solid;
    border-width: .25ch;
    border-color: lightgrey;
}

h1 {
    font-size: 1.5rem;
    color: rgb(64, 64, 83);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;

}

a {
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;

}


ul {
    padding-left: 0;
}

label {
    margin-left: 250px;
    float: left;
}

input, select {
    margin-right: 250px;
    float: right;
}

input.floorInput {
    align-content: center;
    align-items: center;
    color: pink;
}

.topnav {
    background-color: #333d;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .User {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

ul.post {
    list-style: none;
    margin: 10px 200px;
}